<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Little-Bella</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Photos</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photo Gallery</a>
        <a href="/contact">Contact</a>

        <div class="animation start-home"></div>
    </nav>

    <h4>Coming soon</h4>

    <p>By <span>Niko</span></p>
</body>

</html>